PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/growvia
CLIENT_URL=http://localhost:3000
JWT_SECRET=growvia_super_secret_jwt_key_2026_dev
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@growvia.com
